<html>
    <head>
        <title>Illumination Home</title>
        <style>
            body {
                width: max-content;
                margin: 10px auto;
                font-family: Tahoma, Verdana, Arial, sans-serif;
            }
        </style>
    </head>
    <body>
        <h1>Welcome to Illumination!</h1>
        <p>You've successfully connected to the Illumination Web Server!</p>
        <br>
        <p>More information will be available here later.</p>
        <p>Click <a href="/userinfo">here</a> to log in and see your Gitea information.</p>
    </body>
</html>